h1 {
  text-align: center;
}
main {
  width: 1014px;
  margin: 0 auto;
}
figure {
  float: left;
  border: 4px solid #ddd;
  width:300px;
  height: 300px;
  overflow: hidden;
  margin: 0 15px;
}
img {
  width: 300px;
}
